{% extends 'FgmsShopifyBundle::proxy-base.html.twig' %}

{% block body %}
		<h2 style="margin-top: -38px;">Part 2/2: Product Details</h2>
		<div style="margin-top: -12px;">{% if customer.transaction == 'rma' %}RMA{% else %}Warranty{% endif %} Reference: {{customer.session | slice(24,32) }}</div>
		<div style="margin: 8px 0 32px">
			<div>
				Status: <em> {{customer.status}}</em>
				{% if customer.updateDate %}<div>Updated: <em>{{customer.updateDate | date('d/m/y')}}</em></div>{%endif%}
			</div>
			<div class="clearfix"></div>
		</div>
    <div class="well">
		<h2 style="padding-top: 0">Product{% if items | length > 1 %}s{% endif %} {% if customer.transaction == 'rma' %}to be Returned{% else %}to be Registered{% endif %}</h2>
        {% if customer.status | lower != 'created'%}
            <blockquote style="font-size: 0.95em;">
            	You can no longer add or edit your tools because your form has been submitted. To update or change your tools, please contact us for further assistance.
            </blockquote>
        {% endif %}

		{% for flashMessage in app.session.flashbag.get('notice') %}
    		<div class="alert alert-danger alert-dismissible" role="alert">
    			<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    			{{ flashMessage | raw}}
    		</div>
		{% endfor %}

		<table class="table">
			{% if items | length > 0%}
			<thead>
				<tr>
                    {% if customer.transaction == 'warranty' %}
                    <th>Qty</th>
                    {% endif %}
					<th style="width:30%">Product</th>
					<th style="width: 50%">Details</th>
					<th style="text-align: center;">Image</th>
					{% if customer.status | lower == 'created'%}
					<th style="text-align: center;">Edit</th>
					<th style="text-align: center;">Delete</th>
					{% endif %}
				</tr>
			</thead>
			{% endif %}
			<tbody style="font-size:0.85em;">
			{% set focusFlag = 'false' %}
			{%for item in items %}
				{% if focusitem == item.id%}
				{%set focusFlag = 'true' %}
				<tr>
					<td colspan="4">
						<h4>Edit Product</h4>
						{% if form %}
						{{ form_start(form) }}
                        {% if form.quantity %}{{ form_row(form.quantity)}}{% endif %}
						{{ form_row(form.product)}}
						<div class="row" style="margin-top: -12px; margin-bottom: 12px;">
							<div class="col-sm-2"></div>
							<div class="col-sm-10">
							<a href="javascript:void(0)"
							   data-toggle="collapse"
							   style="margin-left: 8px;"
							   data-target="#script-rma-brand-type"
							   aria-expanded="false"
							   aria-controls="script-rma-brand-type">My product is not in the list above.</a>
							</div>
						</div>

						<div class="collapse in" id="script-rma-brand-type">
							{{ form_row(form.productBrand) }}
							{{ form_row(form.productType) }}
						</div>
						{{ form_row(form.productNotes)}}
						<div class="form-group">
							{{ form_label(form.productImageFile)}}
							<div class="col-sm-9">
								{{form_widget(form.productImageFile)}}
								<div style="font-size: 0.9em;margin-top: 8px;">
									<em><a  data-toggle="lightbox" data-gallery="rmaimage" href="https://apps.fifthgeardev.net/uploads/rma/{{item.productImageGuid}}"  >
                                            {% if item.productImageGuid %}
											<img style="width: 100px; height: auto" src="https://apps.fifthgeardev.net/uploads/rma/{{item.productImageGuid}}" />
											{{item.productImageGuid}}
                                            {% endif %}
									</a></em>

								</div>
								{% if form_errors(form.productImageFile)  %}
								<div style="margin-top: 12px;" class="alert alert-danger">{{ form_errors(form.productImageFile) }}</div>
								{% endif %}
							</div>
						</div>
						<div class="form-group">
							<div class="col-sm-2">
							</div>
							<div class="col-sm-10">
								<div class="pull-left">{{form_widget(form.save,{'attr' : {'class' : 'fa-check btn btn-default'}, 'label': 'Update'})}}</div>
								<div class="pull-right align-right-sm"><a data-toggle="tooltip" data-placement="top" title="Cancel Edit"  href="?session={{customer.session}}" class="btn btn-default"><i class="fa fa-ban"></i></a>	</div>
							</div>
						</div>
						{{ form_end(form) }}
						{% else %}
							<blockquote>Form Error</blockquote>
						{% endif %}
					</td>
					<td style="text-align: center; padding-top: 60px;"><a data-toggle="tooltip" data-placement="top" title="Delete Product" data-product="{{item.toolType}}/{{item.toolBrand}}" data-href="?session={{customer.session}}&item={{item.id}}&action=delete" href="javascript:void(0)" class="btn btn-default script-rma-delete"><i class="fa fa-trash-o"></i></a></td>
				</tr>
				{%else%}
				<tr>
                    {% if item.quantity %}<td>{{item.quantity}}</td>{% endif %}
					<td><strong>{{item.product}} </strong>{%if item.productType | length > 0 %}{{item.productType}}{%endif%} {%if item.productBrand | length > 0 %}<em>{{item.productBrand}}</em>{%endif%}</td>

					<td>{{item.productNotes}}</td>
					{% if item.productImageGuid | length > 0  %}
					<td style="text-align: center;"><a  data-toggle="lightbox" data-gallery="rmaimage" class="" href="https://apps.fifthgeardev.net/uploads/rma/{{item.productImageGuid}}"><img style="width: 60px; height: 40px" src="https://apps.fifthgeardev.net/uploads/rma/{{item.productImageGuid}}" /></a> </td>
					{% else %}
					<td></td>
					{% endif %}
					{% if customer.status | lower == 'created'%}
					<td style="text-align: center;"><a data-toggle="tooltip" data-placement="top" title="Edit Product" href="?session={{customer.session}}&item={{item.id}}" class="btn btn-default"><i class="fa fa-pencil-square-o"></i></a></td>
					<td style="text-align: center;"><a data-toggle="tooltip" data-placement="top" title="Delete Product" data-product="{{item.product}} {{item.productType}}/{{item.toolBrand}}"  data-href="?session={{customer.session}}&item={{item.id}}&action=delete" href="javascript:void(0)" class="btn btn-default script-rma-delete"><i class="fa fa-trash-o"></i></a></td>
					{% endif %}
				</tr>
				{%endif%}

			{% endfor %}
				{% if focusitem == 0 and focusFlag == 'false' and customer.status | lower == 'created' %}
				<tr>
					<td colspan="4">
						<h4 style="margin-bottom: 12px;"><em>Add Product {% if customer.transaction == 'rma' %}to this RMA Submission{% else %}to this Warranty Registration{% endif %}</em></h4>
						{% if form %}
						{{ form_start(form) }}
                        {% if form.quantity %}{{ form_row(form.quantity)}}{% endif %}
						{{ form_row(form.product)}}
						<div class="row" style="margin-top: -12px; margin-bottom: 12px;">
							<div class="col-sm-2"></div>
							<div class="col-sm-10">
							<a href="javascript:void(0)"
							   style="margin-left: 8px;"
							   data-toggle="collapse"
							   data-target="#script-rma-brand-type"
							   aria-expanded="false"
							   aria-controls="script-rma-brand-type">My product is not in the list above.</a>
							</div>
						</div>

						<div class="collapse" id="script-rma-brand-type">
							{{ form_row(form.productBrand) }}
							{{ form_row(form.productType) }}
						</div>


						{{ form_row(form.productNotes) }}
						{{ form_row(form.productImageFile) }}

						<div class="form-group">
							<div class="col-sm-2">
							</div>
							<div class="col-sm-10">
								<div class="pull-left">{{form_widget(form.save,{'attr' : {'class' : 'fa-plus btn btn-default'}})}}</div>
								<div class="pull-right align-right-sm"></div>
							</div>
						</div>
						{{ form_end(form) }}
						{% else %}
							<blockquote>Form Error</blockquote>
						{% endif %}
					</td>
				</tr>
				{% endif %}
			</tbody>
		</table>




		</div>




		<div class="well">
			<div class="row">
				<div class="col-sm-6"><h2 style="padding-top: 0">Contact Details</h2></div>
				<div class="col-sm-6 align-right-sm"><a style="color: #fff;" href="../../form/{% if customer.transaction == 'rma' %}rma{% else %}warranty{% endif %}/?session={{customer.session}}" style="" class="btn btn-default "><i class="fa fa-pencil-square-o"></i> Edit Contact Info</a></div>
			</div>
			<table class="table">
				<tbody>
					<tr><td>Company</td><td>{{customer.company}}</td></tr>
					<tr><td>Name</td><td>{{customer.firstName}} {{customer.lastName}}</td></tr>
					<tr><td>Address</td>
						<td>
							<div>{{customer.address1}} {{customer.address2}}</div>
							<div>{{customer.city}}, {{customer.province}}, {{customer.country}}, {{customer.postal}}</div>
						</td>
					</tr>
					{% if customer.phoneToll | length > 0 %}<tr><td>Toll</td><td>{{customer.phoneToll}}</td></tr>{%endif%}
					{% if customer.phoneOffice | length > 0 %}<tr><td>Office</td><td>{{customer.phoneOffice}}</td></tr>{%endif%}
					{% if customer.phoneMobile | length > 0 %}<tr><td>Mobile</td><td>{{customer.phoneMobile}}</td></tr>{%endif%}
					{% if customer.phoneFax | length > 0 %}<tr><td>Fax</td><td>{{customer.phoneFax}}</td></tr>{%endif%}
					{% if customer.email | length > 0 %}<tr><td>Email</td><td>{{customer.email}}</td></tr>{%endif%}

                    {% if customer.purchaseDate %}
                        <tr><td colspan="2"><strong>Purchase Information</strong></td></tr>
                        <tr><td>Purchase Date</td><td>{{customer.purchaseDate| date('d/m/y')}}</td></tr>
                    {% endif %}
                    {% if customer.purchaseLocation %}<tr><td>Email</td><td>{{customer.purchaseLocation}}</td></tr>{% endif %}
                    {% if customer.purchaseReceipt %}<tr><td>Email</td><td>{{customer.purchaseReceipt}}</td></tr>{% endif %}
					{% if customer.notes | length > 0 %}
					<tr><td colspan="2">
						<strong>Notes</strong>
						<div style="padding-top: 8px;"><em>{{customer.notes}}</em></div>
					</td></tr>

					{% endif %}

				</tbody>
			</table>
		</div>


	<div class="well">
		{% if customer.transaction == 'rma' %}
		<h2>RMA Instructions</h2>
		<h3>Product Details</h3>
		<ul class="fa-ul">
			<li><i class="fa-li fa fa-check"></i>Verify your contact and product information provided above is correct.</li>
			<li><i class="fa-li fa fa-check"></i>Upon pressing "Submit" you will not be able to revise this <em>RMA Form</em>.</li>
			<li><i class="fa-li fa fa-check"></i>Any additional products can be added by submitting a new <em>RMA Form</em>.</li>
			<li><i class="fa-li fa fa-check"></i>For Level5 Tools to provide warranty support and process any warranty claims, <strong>a copy of the original purchase receipt is required</strong>.</li>

		</ul>
		<h3>Shipping</h3>
		<ul class="fa-ul">
			<li><i class="fa-li fa fa-check"></i>Be sure to record your RMA number and clearly mark the outside of the box(es) with this number.</li>
			<li><i class="fa-li fa fa-check"></i>Ship only the items that are authorized. You will receive an authorization confirmation from Level 5 Tools upon submitting this form.</li>
			<li><i class="fa-li fa fa-check"></i>Ship returned items to: Level 5 Tools, 118 Abbie Avenue Kansas City, KS, United States 66103.</li>
			<li><i class="fa-li fa fa-check"></i>Any shipments delivered to Level 5 Tools without an RMA number clearly marked on the package will be refused.</li>
			<li><i class="fa-li fa fa-check"></i>If the item(s) to be returned are part of a Warranty Claim, <strong>you must include a copy of the original purchase receipt.</strong></li>
		</ul>

		{% else %}
		<h2>Before You Complete This Registration...</h2>
		<ul class="fa-ul">
			<li><i class="fa-li fa fa-check"></i>Verify the contact and product information you have provided above is correct.</li>
			<li><i class="fa-li fa fa-check"></i>Upon pressing "Submit" you will not be able to revise this <em>Warranty Registration Form</em>.</li>
			<li><i class="fa-li fa fa-check"></i>Additional products can be registered by submitting a new <em>Warranty Registration Form</em>.</li>
			<li><i class="fa-li fa fa-check"></i>For Level5 Tools to provide warranty support and process any warranty claims, <strong>a copy of the original purchase receipt is required</strong>.</li>
		</ul>
		{% endif %}
	</div>
	{% if customer.status | lower == 'created'%}
	<div class="row" style="padding-top: 24px;">
		<div class="col-sm-6"></div>
		<div class="col-sm-6 align-right-sm">
            <a  style="color: #fff;"
                href="../../form/{% if customer.transaction == 'rma' %}rma{% else %}warranty{% endif %}/?session={{customer.session}}&status=submit"
                class="btn btn-default btn-lg">
                <i class="fa fa-share"></i> Submit {% if customer.transaction == 'rma' %}RMA{% else %}Warranty{% endif %} Request
            </a>
        </div>
	</div>
	{% endif %}

{% endblock %}
{% block javascripts %}
<script type="text/javascript">
	jQuery(function($){
		if ($('.alert .alert-danger').length > 0) {
			$('html, body').animate({scrollTop : $($('.alert-danger')).position().top}, 'slow');
		}
		else {
			if ($('#form_session').length == 0) {
				$('html, body').animate({scrollTop : $($('form')).position().top}, 'slow');
			}
		}

		$('.script-rma-delete').click(function(e){
			if (confirm('Delete '+ $(this).data('product')+'?')){window.location = $(this).data('href');}
			return false;
		})
		$('[data-toggle="tooltip"]').tooltip()
	})
</script>
{% endblock %}
