{% extends 'FgmsShopifyBundle::base.html.twig' %}
{% block javascripts %}	{% endblock %}
{% block navigation%}{% include "FgmsShopifyBundle::forms-navigation.html.twig" %}{%endblock%}
{% block body %}
	<div class="table-responsive">
		<table class="table">
			{% if formMenu == 'rma' %}
			<thead>
				<tr>
					
					<th>Date</th>
					<th>Status</th>
					<th>Contact</th>
					<th></th>
					<th></th>
					<th style="width:30%">Notes</th>
					<th>View</th>
				</tr>
			</thead>
			<tbody>
				{% for entry in formIndex %}
				<tr data-session="{{entry.status}}">
					
					<td>{{entry.createDate | date('d/m/y')}}</td>
					<td>
						<select>
						{%for item in statusOptions%}
							<option {%if item.name == entry.status%}SELECTED{%endif%}>{{item.name}}</option>
						{% endfor %}
						</select>				
						
					
					</td>
					<td>
						<strong>Contact</strong>
						<div>{{entry.company}}</div>
						<div>{{entry.firstName}} {{entry.lastName}}</div>
						{% if entry.email | length > 0 %}<div>Email: {{entry.email}}</div>{%endif%}
						{% if entry.phoneToll | length > 0 %}<div>Toll: {{entry.phoneToll}}</div>{%endif%}
						{% if entry.phoneOffice | length > 0 %}<div>Office: {{entry.phoneOffice}}</div>{%endif%}
						{% if entry.phoneMobile | length > 0 %}<div>Mobile: {{entry.phoneMobile}}</div>{%endif%}
						{% if entry.phoneFax | length > 0 %}<div>Fax: {{entry.phoneFax}}</div>{%endif%}
						<strong style="margin-top: 12px">Address</strong>
						<div>{{entry.address1}} {{entry.address2}}</div>
						<div>{{entry.city}}, {{entry.province}}, {{entry.country}}</div>
						<div>{{entry.postal}}</div>						
						
					</td>
					<td>

					</td>
					
					<td>

					</td>
					
					<td>{{entry.notes}}</td>
					<td><a target="_blank" href="https://level5tools.myshopify.com/tools/fg/rma/?session={{entry.session}}/" class="btn btn-primary"><i class="fa fa-wrench"></i> View RMA</a></td>
				</tr>
				{% endfor%}			
			</tbody>	
	
			{%endif%}
		</table>
	</div>
{% endblock %}
{% block stylesheets %}{% endblock %}


