{% extends 'FgmsShopifyBundle::base.html.twig' %}
{% block javascripts %}	{% endblock %}
{% block navigation%}{% include "FgmsShopifyBundle::forms-navigation.html.twig" %}{%endblock%}
{% block body %}
    <style>
    h4 { padding-top: 0; margin-top: 0;}
    </style>
	<div class="table-responsive">
		<table class="table">
			<thead>
				<tr>
                    <th>Ref. ID</th>
					<th>Date</th>
					<th style="width:20%">Contact</th>
					<th style="width:40%">Items</th>
                    <th style="width:30%">Notes</th>
                    <th>Status</th>

				</tr>
			</thead>
			<tbody style="font-size: 11px;">
				{% for entry in formIndex %}
				<tr data-session="{{entry.status}}">

                    <td>
                        <a  title="{{entry.session}}" target="_blank" style="font-weight:bold;"
                            href="https://level5tools.myshopify.com/tools/fg/form/{% if formMenu == 'rma' %}rmaitem{% else %}warrantyitem{% endif %}/?session={{entry.session}}" >
                            {{entry.session | slice(24,32) }}
                        </a>
                    </td>
                    <td>{{entry.createDate | date('d/m/y')}}</td>

					<td>

						<div><strong>{{entry.company}}</strong></div>
						<div style="padding-bottom: 8px;">{{entry.firstName}} {{entry.lastName}}</div>
						{% if entry.email  %}<div>{{entry.email}}</div>{% endif %}
						{% if entry.phoneToll  %}<div>Toll: {{entry.phoneToll}}</div>{% endif %}
						{% if entry.phoneOffice  %}<div>Office: {{entry.phoneOffice}}</div>{% endif %}
						{% if entry.phoneMobile  %}<div>Mobile: {{entry.phoneMobile}}</div>{% endif %}
						{% if entry.phoneFax  %}<div>Fax: {{entry.phoneFax}}</div>{% endif %}

						<div style="padding-top: 8px;">{{entry.address1}} {{entry.address2}}</div>
						<div>{{entry.city}}, {{entry.province}}, {{entry.country}}</div>
						<div>{{entry.postal}}</div>
					</td>
					<td>
						<ul class="fa-ul">
							{% for item in entry.items %}
								<li><i class="fa-li fa fa-check"></i>
                                    {% if item.quantity %}({{item.quantity}}) {% endif %}<strong>{{item.product}}</strong>{{item.productType}} <em>{{item.productBrand}}</em>
                                    {% if item.productNotes %} - {{item.productNotes}}{% endif %}
                                </li>
							{% endfor%}
						</ul>
					</td>
                    <td>
                        {% if entry.purchaseDate %}

                        <div class="product-purchase-info">
                            {% if entry.purchaseDate  %}<div>Purchase Date: {{entry.purchaseDate | date('d/m/y')}}</div>{% endif %}
                            {% if entry.purchaseLocation  %}<div>Purchase Location: {{entry.purchaseLocation}}</div>{% endif %}
                            {% if entry.purchaseReceipt  %}<div>Purchase Reciept: {{entry.purchaseReceipt}}</div>{% endif %}
                        </div>
                        {% endif %}
                        {% if entry.notes %}
                        <div style="padding-top: 8px;">{{entry.notes}}</div>
                        {% endif %}
                    </td>

                    <td >
                        <select>
                        {%for item in statusOptions%}
                            <option {%if item.name == entry.status%}SELECTED{%endif%}>{{item.name}}</option>
                        {% endfor %}
                        </select>
                    </td>
                </tr>
				{% endfor %}
			</tbody>


		</table>
	</div>
{% endblock %}
